body {
  padding: 2px; }

body {
  font-size: 16px; }
  body .top:hover {
    transform: skew(1deg, 1deg); }
  body h1 {
    background-color: #c6aac7;
    height: 100px; }
  body h2 {
    color: #f8ecec;
    padding: 2px; }
  body footer {
    background-color: #c6aac7;
    padding: 1px; }
